@keyframes fadeIn {
	0% {
		transform: translateY(-10px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

:root {
	--highlight: #e89331;
	--background-color: rgb(30, 30, 30);
	--el-background-color: rgb(40, 40, 40);
	--box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.65;
	background-image: url("./images/topography.svg");
	background-color: var(--background-color);
	background-attachment: fixed;
	color: white;
	margin: 0px;
}

a {
	color: lightgray;
}


h2 {
	margin-top: 0px;
	margin-bottom: 5px;
}

table {
	border-collapse: collapse;
}

table,
th,
td {
	border: 3px solid white;
	padding: 10px;
	text-align: center;
}

.page-links {
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	background-color: rgb(25, 25, 25);
}

.page-link-btn {
	background-color: transparent;
	color: gray;
	font-size: 18px;
	text-align: center;
	width: 100px;
	padding: 13px;
	transition: all 0.25s ease;
	border: 2px solid transparent;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
}

.page-link-btn:hover {
	cursor: pointer;
	color: white;
	background-color: var(--highlight);
}

.introduction-wrapper {
	width: 100vw;
	height: calc(100vh - 52px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.introduction {
	display: flex;
	margin: 20px;
	background-color: var(--el-background-color);
	border-radius: 8px;
	padding: 40px;
	box-shadow: var(--box-shadow);
	animation: 0.25s ease-in 0s 1 fadeIn;
}

.introduction-main {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin-right: 20px;
}

.introduction-title {
	font-family: "Niconne", sans-serif;
	font-size: 64px;
	line-height: 0.75;
	color: var(--highlight);
}

.introduction-pic {
	width: 200px;
	height: auto;
	border-radius: 0px 50px 0px 50px;
	margin: auto;
}

.introduction-contacts {
	margin-left: 20px;
	text-align: left;
	font-size: 12px;
	color: lightgray;
	align-content: center;
	text-wrap: nowrap;
}

.introduction-contacts a {
	color: lightgray;
}

.introduction-contacts a:hover {
	color: white;
}

@media (max-width: 900px) {
	.introduction {
		margin-top: 100px;
		display: flex;
		flex-direction: column;
	}

	.introduction-text {
		text-align: center;
	}

	.introduction-contacts {
		text-align: center;
	}
}

.project-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10px;

	& div:nth-child(1) {
		animation: 0.25s ease-in 1 fadeIn;
	}

	& div:nth-child(2) {
		animation: 0.35s ease-in 1 fadeIn;
	}

	& div:nth-child(3) {
		animation: 0.45s ease-in 1 fadeIn;
	}

	& div:nth-child(4) {
		animation: 0.55s ease-in 1 fadeIn;
	}
}

.project-card {
	display: flex;
	height: auto;
	border-radius: 6px;
	background-color: var(--el-background-color);
	box-shadow: var(--box-shadow);
	transition: 0.1s ease-in;
	border: 1px solid transparent;
}

.project-card:hover {
	cursor: pointer;
	transform: scale(1.025);
	border: 1px solid var(--highlight);
}

.project-card-image {
	object-fit: cover;
	align-self: center;
	margin-left: 10px;
	margin-right: 10px;
	min-width: 100px;
	max-width: 100px;
	min-height: 100px;
	max-height: 100px;
	border-radius: inherit;
}

.project-card-content {
	padding: 10px;
}

.project-card-description {
	color: white;
}

@media (max-width: 900px) {

	.project-list {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.text-body {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 30px;
	border-radius: 8px;
	background-color: var(--el-background-color);
	box-shadow: var(--box-shadow);
	animation: 0.25s ease-in-out 0s 1 fadeIn;
}

@media (max-width: 900px) {
	.text-body {
		margin-left: 15px;
		margin-right: 15px;
	}
}

.project-text-title {
	margin-top: 10px;
	text-align: center;
}

.project-ext-link {
	text-align: center;
}

.project-link {
	font-size: 16px;
	color: rgb(46, 163, 44);
	padding: 10px;
	text-decoration: none;
	border: 1px solid rgb(46, 163, 44);
	border-radius: 8px;
	transition: 0.125s;
}

.project-link:hover {
	background-color: rgb(46, 163, 44);
	color: white;
}

.screenshot {
	width: 100%;
	height: auto;
	object-fit: contain;
}
